.img-style{
    padding-top: 10px;
    width: 800px;
    height: 500px;
}

div.rel {
    position: absolute;
    right: 10px;
    width: 300px;
    top: 120px;
    padding: 10px;
  }

.hpage{
    font-weight: 300;
    size: 20px;
    line-height: 1.5;
    word-spacing: 5px;
    text-shadow: 0 0 3px #FF0000;
}

.head{
    text-align: center;
    color: grey;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    letter-spacing: 6px;
}